@if (Visible)
{
    <div class="rectangleqs error-dialog dialog-box">
        <p class="error-message">@ErrorMessage</p>
        <button class="close-button" @onclick="Close">Закрыть</button>
    </div>
}

@code {
    [Parameter]
    public bool Visible { get; set; }

    [Parameter]
    public EventCallback OnClose { get; set; }

    [Parameter]
    public string ErrorMessage { get; set; }

    private async Task Close()
    {
        Visible = false;
        await OnClose.InvokeAsync();
    }
}
