@if (Visible)
{
    <div class="rectangleq success-dialog dialog-box">
        <p class="success-message">Цель успешно создана</p>
        <button class="close-button" @onclick="Close">Закрыть</button>
    </div>
}

@code {
    [Parameter]
    public bool Visible { get; set; }

    [Parameter]
    public EventCallback OnClose { get; set; }

    private async Task Close()
    {
        Visible = false;
        await OnClose.InvokeAsync();
    }
}
