@if (Visible)
{
    <div class="rectangle success-dialog dialog-box">
        <p class="success-message">Вы успешно вошли</p>
        <button class="next-button" @onclick="Next">Далее</button>
    </div>
}

@code {
    [Parameter]
    public bool Visible { get; set; }

    [Parameter]
    public EventCallback OnNext { get; set; }

    private async Task Next()
    {
        await OnNext.InvokeAsync();
    }
}
